<header class="container">
  <h3 class="title display-3"><a href="/" class="link-dark">JUMP0WHALE</a></h3>
  <div class="d-flex pt-3 pb-3">
    <span class="col-4"><a href="/archive/" data-bs-toggle="tooltip" data-bs-title="모아보기">🗄️</a></span>
    <span class="col-4"><a href="/category/"data-bs-toggle="tooltip" data-bs-title="카테고리">🗂️</a></span>
    <span class="col-4"><a href="/tags/"data-bs-toggle="tooltip" data-bs-title="태그">🏷️</a></span>

  </div>
  <!-- <div>
    <script async src="https://cse.google.com/cse.js?cx=111f83341667748d3">
    </script>
    <div class="gcse-search"></div>
  </div> -->
</header>