<!DOCTYPE html>
<html lang="ko">
{% include head.html %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6GZT8J7TT4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6GZT8J7TT4');
</script>
<body>
  {% include header.html %}
  <div class="container">
    <div class="post pt-1 pb-1">
      <div class="shadow-lg p-3 mb-5 bg-body rounded">
        {{ content }}
      </div>
    </div>
  </div>
  {% include tooltip.html %}
  {% include footer.html %}

</body>

</html>