---
layout: default
---
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
	aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">📁</a></li>
		<li class="breadcrumb-item active" aria-current="page">메인</li>
	</ol>
</nav>

{% for post in paginator.posts %}
<div class="mb-2">
	{% case post.categories[0] %}
	{% when 'paper' %}
	<a href="{{ post.categories }}" class="link-secondary">📄{{ post.categories }}</a>
	{% when 'comp' %}
	<a href="{{ post.categories }}" class="link-secondary">💻{{ post.categories }}</a>
	{% when 'game' %}
	<a href="{{ post.categories }}" class="link-secondary">🕹️{{ post.categories }}</a>
	{% when 'asm' %}
	<a href="{{ post.categories }}" class="link-secondary">🧩{{ post.categories }}</a>
	{% else %}
	⚠️ Debug.Fail("unknown type")
	{% endcase %}
</div>

<h2 class="display-7"><a href="{{ post.url }}" class="link-dark">{{ post.title }}</a></h2>

{%- assign date_format = site.date_format | default: "%y. %m. %d" -%}
<span class="text-secondary">📅 {{ post.date | date: date_format }}</span>

{% for tag in post.tags %}
<span class="badge rounded-pill text-bg-light"><a href="/tags/{{ tag }}/" class="link-secondary">🏷️{{ tag }}</a></span>
{% endfor %}

<hr>
{% endfor %}

{% include pagination.html %}